{{ partial "top_header.html" . }}

<div class="flex flex-column">
  <div class="flex flex-wrap justify-center">
    <section id="recent-writing" class="writing px4 flex flex-column items-end">
      <div>
        <header>What I'm Writing About</header>
        <table class="table-list">
          <tbody>
            {{- range first 5 (where site.RegularPages "Type" "=" "posts") -}}
              <tr class="flex">
                <td class="blog-date"><time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time></td>
                <td class="blog-post btn"><a class="link" href="{{ .Permalink }}">{{- .Title | safeHTML -}}</a></td>
              </tr>
            {{- end -}}
          </tbody>
        </table>
      </div>
    </section>

    <section id="recently-played" class="tracks px4">
      <div v-if="tracks">
        <header>What I'm Listening To</header>
        <table class="table-list">
          <tbody>
            <tr v-for="track in tracks" class="flex">
              <td class="artist artist-btn"><a class="link" :href="track.artist_url">${track.artist['#text']}</a></td>
              <td class="track btn"><a class="link" :href="track.url">${track.name}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <section id="recent-code" class="flex flex-column items-center">
    <div v-if="repos">
      <header style="padding-left: 1rem;">What I'm Hacking On</header>
      <ul class="p0 flex justify-center" style="list-style-type: none;">
        <li v-for="repo in repos">
          <a class="btn" :href="repo.html_url">${ repo.name }</a>
          <p class="lang-label">${repo.language}</p>
        </li>
      </ul>
    </div>
  </section>
</div>
{{ .Content }}
{{ partial "top_footer.html" . }}
