$black: #303030;
$gray: #686868;
$light-gray: #e5e5e5;
$white: #fbfbfb;
$serif: 'Arvo';
$monospace: '"Source Code Pro"';
$fs: 1rem;
$fs-large: 1.125rem;
$std-margin: 0 0 1rem;
$break-small: 800px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $white;

  color: $black;

  font-family: $serif, serif;
  font-size: $fs;

  @media screen and (min-width: $break-small) {
    font-size: $fs-large;
  }
}

body {
  line-height: 1.6;
}

html,
body {
  margin: 0;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;

  line-height: 1.25rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  color: inherit;
  background-color: transparent;
}
.btn:hover {
	cursor: pointer;
  text-decoration: underline;
}

.artist-btn {
  @extend .btn;
  padding-left: 0;
}

.justify-evenly {
  justify-content: space-evenly;
}

.lang-label {
  margin: 0;
  padding: .5rem 1rem;
}

#recent-writing {
  flex: 5;
}

#recently-played {
  flex: 4;
}
