{{ $img := .Page.Resources.GetMatch (printf "*%s*" (.Get "src"))}}
{{if (.Get "resize")}}
  {{ $img = $img.Resize (.Get "resize") }}
{{ end }}
<figure style="text-align: center; position: relative; {{ .Get "style" | safeCSS }}">
  <img
    {{ if (.Get "darkmode") }}
      class="dark-{{ .Get "darkmode" | safeCSS }}"
    {{ end }}
    style="display: block; {{ .Get "imgstyle" | safeCSS }}"
    src="{{ $img.RelPermalink }}" alt="{{ .Get "alt" }}"
  >
  {{if or (len .Inner) (.Get "caption")}}
	<figcaption style="{{ .Get "figstyle" | safeCSS }}">
    {{ if eq (len .Inner) 0}}
      {{ .Get "caption" | markdownify }}
    {{ else }}
      {{ .Inner | markdownify }}
    {{ end }}
  </figcaption>
  {{ end }}
</figure>
