$serif: 'Alegreya';
@import '1800.scss';

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Essays1743';
  font-weight: normal;
}

.post-title {
  margin: 0;
}

.post-header>.fleuron {
  margin: 1rem 0 0;
}

.fleuron::before {
  width: 100%;
  clear: both;
  display: block;
  text-align: center;
  font-family: Symbola;
  font-size: 1.5rem;
  margin: $std-margin;
  content: "\2767";
}

h2::before {
  display: block;
  text-align: center;
  font-family: Symbola;
  font-size: 1.5rem;
  margin: $std-margin;
  content: "\2767";
}

article>p:first-of-type::first-letter {
  font-family: 'Alphabet of Children';
  font-size: 8.2rem;
  float: left;
  margin-right: 0.25rem;
  line-height: 0.75;
}

figcaption {
  color: #525252;
}

pre {
  border-radius: 1rem;
}

p>code {
  color: rgb(177, 0, 35);
}

@import 'collapse.scss'
